<div class="container">

    <div class="registro" style="width: 50%; float: left">
      <div class="registro-triangle"></div>
      
      <h2 class="registro-header">Factura</h2>
    
      <!--<form class="login-container"> -->
       <form class="registro-container" method="POST">
        <p>
          <input class ="cajitas" type="text" [(ngModel)]="factura.serie" name='serie' placeholder="Serie" required="required"></p>
        <p>
          <input class ="cajitas" type="text" [(ngModel)]="factura.numerofactura" name='numerodeactura' placeholder="Numero de Factura" required="required"></p>
          <p>
            <input class ="cajitas" type="text" [(ngModel)]="factura.nit" name='nit' placeholder="NIT" required="required"></p>
          <p>
            <input class ="cajitas" type="text" [(ngModel)]="factura.nombre" name='nombre' placeholder="Nombre" required="required"></p>
          <p>
            <select name="status" [(ngModel)]="sellista">
            <option [value]="item" *ngFor="let item of status">{{item}}</option>
            </select>
            </p>
            <ul>
              <li *ngFor="let item of sellista">
                {{item}}
              </li>
            </ul>

            <p>
                <input type="text" [(ngModel)]="factura.monto" name='monto' placeholder="Monto" required="required"></p>
            
        <p>
          <input type="submit" (click)="edit ? editar() : registrar()" value="Guardar"> <input type="button" onclick="location.href='http://localhost:4200/perfil'" value="Cancelar"> </p>
              </form>
    </div>
  
    


    <div class="registro" style="width: 50%; float: right;">
        <div class="registro-triangle"></div>
        
        <h2 class="registro-header">Detalle</h2>
      
        <!--<form class="login-container"> -->
         <form class="registro-container" method="POST">

          <p>
            <select name="menu" [(ngModel)]="selmenu">
            <option [value]="item" *ngFor="let item of menu">{{item}}</option>
            </select>
            </p>
            <ul>
                <li *ngFor="let item of selmenu">
                {{item}}
                </li>
            </ul>


            <p>
                <select name="bebida" [(ngModel)]="selbebida">
                <option [value]="item" *ngFor="let item of bebida">{{item}}</option>
                </select>
                </p>
                <ul>
                  <li *ngFor="let item of selbebida">
                    {{item}}
                  </li>
                </ul>

                
           

                    <p>
                        <select name="complemento" [(ngModel)]="selcomplemento">
                        <option [value]="item" *ngFor="let item of complemento">{{item}}</option>
                        </select>
                        </p>
                        <ul>
                          <li *ngFor="let item of selcomplemento">
                            {{item}}
                          </li>
                        </ul>
        
        
          <p>
            <input class ="cajitas" type="text" [(ngModel)]="detallepedido.cantidad" name='cantidad' placeholder="Cantidad" required="required"></p>
              <p>
                  <input class ="cajitas" type="text" [(ngModel)]="detallepedido.total" name='Total' placeholder="Total" required="required"></p>
              
          <p>
            <input type="submit" (click)="Detalle" value="Agregar"> <input type="button" onclick="location.href='http://localhost:4200/perfil'" value="Cancelar"></p>
                </form>
      </div>
    
      <table role="grid"
       aria-labelledby="grid1Label"
       class="data">
       <tbody>
        <tr>
          <th>
            Menu
          </th>
          <td>
           
          </td>
          <th>
            Complemento
          </th>
          <td>
           
          </td>
          <th>
            Bebida
          </th>
          <td>
            
          </td>
          <th>
            
          </th>
          <td>
            
          </td>
          <th>
            Cantidad
          </th>
          <td>
           
          </td>
          <th>
            Total
          </th>
        </tr>
        <tr>
          <td tabindex="-1">
            <input *ngFor="menu">
          </td>
          <td tabindex="-1">
           
          </td>
          <td>
            <a tabindex="-1">
             
            </a>
          </td>
          <td tabindex="-1">
        
          </td>
          <td tabindex="-1">
   
          </td>
        </tr>
        <tr>
          <td tabindex="-1">
            
          </td>
          <td tabindex="-1">
      
          </td>
          <td>
            <a tabindex="-1" href="#">
              
            </a>
          </td>
          <td tabindex="-1">
          
          </td>
          <td tabindex="-1">
            
          </td>
        </tr>
        <tr>
          <td tabindex="-1">
           
          </td>
          <td tabindex="-1">
            
          </td>
          <td>
            <a tabindex="-1" >
              
            </a>
          </td>
          <td tabindex="-1">
            
          </td>
          <td tabindex="-1">
           
          </td>
        </tr>
        <tr>
          <td tabindex="-1">
           
          </td>
          <td tabindex="-1">
            
          </td>
          <td>
            <a tabindex="-1" >
              
            </a>
          </td>
          <td tabindex="-1">
         
          </td>
          <td tabindex="-1">
            
          </td>
        </tr>
        <tr>
          <td tabindex="-1">
            
          </td>
          <td tabindex="-1">
           
          </td>
          <td>
            <a tabindex="-1">
              
            </a>
          </td>
          <td tabindex="-1">
            
          </td>
          <td tabindex="-1">
            
          </td>
        </tr>
        <tr>
          <td tabindex="-1">
            
          </td>
          <td tabindex="-1">
           
          </td>
          <td>
            <a tabindex="-1" >
          
            </a>
          </td>
          <td tabindex="-1">
            
          </td>
          <td tabindex="-1">
            
          </td>
        </tr>
        
      </tbody>
    </table>

  


  
  </div>
