<div>
    <input type="radio" value="Cancelar" onclick="location.href='http://localhost:4200/perfil'" >
    <p>Cancelar</p>
</div>
    
<div class="col-md-2" *ngFor="let usuario of usuario">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{usuario.username}}
        <!-- <button class="btn btn-danger"></button> -->
        <button class="btn btn-danger" (click)=eliminarusuario(usuario.id)>Eliminar</button>
        </div>
        
        <img style="height: 150px; width: 100%; display: block;" src="https://asknoetictips.files.wordpress.com/2017/09/usuario-registrado.jpg" class="card-img-top">
        
    <div class="card-body">
        <p>{{usuario.role}}</p>
        <a [routerLink]="['/editar_usuarios', usuario.id]" class="btn btn-info btn-block">Editar Usuario</a>

    </div>

    </div>

</div>