.container{
    
    background-color:rgba(14, 136, 242,0.5);
    width: auto;
    border-radius: 10px;
    position:absolute;
    top:190px;
    right:650px;
    height:250px;
}

.cajitas{

    border-radius: 10px;
}

.boton{

    border-radius: 10px;
    position: absolute;
    top: 200px;
    right: 40px;
    width: 160px;  
} 





