<div>
    <input type="radio" value="Cancelar" onclick="location.href='http://localhost:4200/perfil'" >
    <p>Cancelar</p>
</div>
    
<div class="col-md-2" *ngFor="let detallepedidos of detallepedidos">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{detallepedidos.total}}
        <!-- <button class="btn btn-danger"></button> -->
        <button class="btn btn-danger" (click)=eliminarbebidas(bebidas.idbebidas)>Eliminar</button>
        </div>
        
        <img style="height: 150px; width: 100%; display: block;" src="https://image.freepik.com/vector-gratis/chef-dibujos-animados-pollo-asado_119631-166.jpg" class="card-img-top">
        
    <div class="card-body">
        <p>{{detallepedidos.bebida}}</p>
        <p>{{detallepedidos.complementos}}</p>
        <p>{{detallepedidos.menu}}</p>
        

    </div>

    </div>

</div>

