.fondo1{
    margin: -0px;
    padding: 345px;
    background: url(C:\Users\William M Sandoval\Documents\GitHub\fondo1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}