<!-- <div>
    <form>
                
        <a onclick="myFunction()"><img border="0" src="https://asknoetictips.files.wordpress.com/2017/09/usuario-registrado.jpg" width="90" height="70"></a>
        
    </form>
</div>
 

<script> function myFunction() 
    { 
    
    var search = document.getElementById("searchtext").value; 
    window.location = '/search?q='+search; 
    } 
    </script>


 -->

<html>
	<head>
		<title>Menu Desplegable</title>	
	</head>
	<body>
		
		<div id="header">
			<div class = "posicionamiento">
			<nav > <!-- Aqui estamos iniciando la nueva etiqueta nav -->
				<ul class="nav">
                    
					<li ><a class ="menus" ><h2>Usuarios</h2></a>
						<ul>
							<li><a class ="menus"href="/crear_usuarios">Agregar Usuarios</a></li>
							<li><a class ="menus"href="/editar_usuarios">Editar Usuarios</a></li>
						</ul>
					</li>
					<li ><a class ="menus" ><h2>Menus</h2></a>
						<ul>
							<li><a class ="menus" href="">Desayuno</a></li>
							<li><a class ="menus" href="">Almuerzo</a></li>
							<li><a class ="menus" href="">cena</a></li>
							<li><a class ="menus" href="">extras</a></li>
						</ul>
					</li>
				
				</ul>
			</nav><!-- Aqui estamos cerrando la nueva etiqueta nav -->
		
		</div>
	</div>
	</body>
</html>