
<html>
	<head>
		<title>Menu Desplegable</title>
		<link rel="stylesheet" href="perfil.component.css">
	</head>
	<body>
		<div id="header">
			<div class = "posicionamiento">
			<nav> <!-- Aqui estamos iniciando la nueva etiqueta nav -->
				<ul class="nav">
					<li><a class ="menus">Usuarios</a>
						<ul>
							<li><a class ="menus" href="/crear_usuarios">Agregar Usuarios</a></li>
							<li><a class ="menus" href="/editar_usuarios">Editar Usuarios</a></li>
						</ul>
					</li>
					<li><a class ="menus" >Bebidas</a>
						<ul>
							<li><a class ="menus" href="/crear_bebidas">Agregar Bebidas</a></li>
							<li><a class ="menus" href="/editar_bebidas">Editar Bebidas</a></li>
						</ul>
					</li>
					<li><a class ="menus" >Complementos</a>
						<ul>
							<li><a class ="menus" href="/crear_complementos">Agregar Complementos</a></li>
							<li><a  class ="menus" href="/editar_complementos">Editar Complementos</a></li>
						</ul>
					</li>
					<li><a class ="menus" >Tipo de Servicios</a>
						<ul>
							<li><a class ="menus" href="/crear_tiposervicio">Agregar Tipo de Servicios</a></li>
							<li><a class ="menus" href="/editar_tiposervicio">Editar Tipo de Servicios</a></li>
						</ul>
					</li>
					<li><a class ="menus" >Menu</a>
						<ul>
							<li><a class ="menus" href="/crear_menu">Agregar Menu</a></li>
							<li><a class ="menus" href="/editar_menu">Editar Menu</a></li>
						</ul>
					</li>
					<li><a class ="menus" >Facturacion</a>
						<ul>
							<li><a class ="menus" href="/crear_factura">Agregar Factura</a></li>
						</ul>
					</li>
					<li><a class ="menus">Cocina</a>
						<ul>
							<li><a class ="menus" href="/cocina">Pendientes</a></li>
						</ul>
					</li>
					<li><a class ="menus" >Entregas</a>
						<ul>
							<li><a  class ="menus" href="/pendientes">Pendientes</a></li>
						</ul>
					</li>

				</ul>
			</nav><!-- Aqui estamos cerrando la nueva etiqueta nav -->
		</div>
		</div>
	</body>
</html>