<div class="container">

    <div class="login">
      <div class="login-triangle"></div>
      
      <h2 class="login-header">Log in</h2>
    
      <!--<form class="login-container"> -->
       <form class="login-container" method="POST">
        <p>
          <input type="text" [(ngModel)]="alias" name='alias' placeholder="Usuario" required="required"></p>
        <p>
          <input type="password" [(ngModel)]="pass" name='pass' placeholder="Password" required="required"></p>
        <p>
          <input type="submit" (click)="login()" value="Log in"></p>
      </form>
    </div>
  
  
  </div>
